.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}

.site-title {
  font-size: 2.6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  color: rgb(171, 7, 7);
  font-weight: 700;
  margin: 3rem 0;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: rgb(5, 142, 53);
}
/* Text Color for listed posts */
.text-color {
  color:chocolate;
  font-size: 20px;
}